@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    @*<div>
        <form method="post">
            <label>Name</label>
            <input asp-for="Product.name" />
            <label>Description</label>
            <input asp-for="Product.Description" />
            <label>Value</label>
            <input asp-for="Product.Value" />
            <input type="submit" value="Save"/>
        </form>
    </div>*@
    
    <div>
        @{ 
            foreach (var i in Model.Products)
            {

                <p>
                    @i.name - @i.Description - @i.Value
                </p>
            }
        }
    </div> 