@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="section">
    <div class="columns is-multiline is-mobile">
        @{
            for (int j = 0; j < 5; j++)
            {
                foreach (var i in Model.Products)
                {
                    <div class="column is-3-desktop is-4-tablet is-6-mobile">
                                <a asp-page="Product" asp-route-name="@i.name.Replace(" ", "-")">
                                    <div class="card" >
                                        <div class="card-image">
                                            <figure class="image is-4by3">

                                                <img src="~/images/merc.jpg" />
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <p class="title is-6">
                                                @i.name- @i.Description
                                            </p>
                                            <p class="subtitle">
                                                @i.Value
                                            </p>

                                            <div class="content">

                                            </div>
                                        </div>
                                    </div>
                                </a>
                    </div>

                }
            }
        }
    </div>
</div>

@await Component.InvokeAsync("Card")