@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div>
    @{
        foreach (var i in Model.Products)
        {

            <a asp-page="Product" asp-route-name="@i.name.Replace(" ","-")">
                @i.name - @i.Description - @i.Value
            </a>
            <br />
        }
    }
</div>

@await Component.InvokeAsync("Card")